name: Django CI and Code Quality

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8, 3.9]  # Test against multiple Python versions

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install autopep8 pytest pylint pylint-django  # Include Django-specific pylint
    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/src:$(pwd)/tests" >> $GITHUB_ENV
    - name: Run Linting
      run: |
        pylint todo/  # Change "myapp/" to the directory or file you want to lint
    - name: Run Tests
      run: |
        coverage run manage.py test  # Run Django tests
        coverage lcov -o coverage.lcov
    - name: Run autopep8
      run: |
        autopep8 --in-place --aggressive --aggressive TaskMasterPro/.github/workflows/django.yml  # Format specific file
    - name: Upload Coverage to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage.lcov
        parallel: true
